@font-face {
  font-family: 'Poppins';
  src: url('Poppins-Bold.eot');
  src: local('Poppins-Bold'), local('Poppins-Bold'),
    url('../fonts/Poppins/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Poppins/Poppins-Bold.woff') format('woff'),
    url('../fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('Poppins-SemiBold.eot');
  src: local('Poppins-SemiBold'), local('Poppins-SemiBold'),
    url('../fonts/Poppins/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Poppins/Poppins-SemiBold.woff') format('woff'),
    url('../fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish';
  src: url('Mulish-Regular.eot');
  src: local('Mulish-Regular'), local('Mulish-Regular'),
    url('../fonts/Mulish/Mulish-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Mulish/Mulish-Regular.woff2') format('woff2'),
    url('../fonts/Mulish/Mulish-Regular.woff') format('woff'),
    url('../fonts/Mulish/Mulish-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish';
  src: url('Mulish-Bold.eot');
  src: local('Mulish-Bold'), local('Mulish-Bold'),
    url('../fonts/Mulish/Mulish-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Mulish/Mulish-Bold.woff2') format('woff2'),
    url('../fonts/Mulish/Mulish-Bold.woff') format('woff'),
    url('../fonts/Mulish/Mulish-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}