@import "../css/normalize.css";
@import "../css/fonts.css";

:root {
  --primary-green: #009379;
  --primary-white: #ffffff;
  --text-color: #2d2d2d;
  --background-color: #f8f9ff;
  --card-price-color: #3b3b3b;
  --border-card-color: #d8d8d8;
  --btn-background-color: #e5f4f2;
}

body {
  font-family: "Mulish", sans-serif;
  background: var(--background-color);
  color: var(--text-color);
}

* {
  box-sizing: border-box;
}

h2,
h3,
p {
  margin: 0;
}

.plan {
  padding: 50px 0;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.plan-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 38px;
  line-height: 130%;
  text-align: center;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}

.plan-subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  margin-bottom: 60px;
}

.plan-cards {
  display: flex;
  justify-content: space-around;
}

/* card */
.plan-card {
  width: 370px;
  min-height: 424px;
  background: var(--primary-white);
  border: 1px solid var(--border-card-color);
  box-shadow: 34.8541px 29.626px 48.34px rgba(51, 102, 255, 0.05);
  border-radius: 8px;
  position: relative;
  padding: 40px 30px;
}

.plan-card:hover {
  background-color: var(--primary-green);
  color: var(--primary-white);
}

.plan-card:hover * {
  color: var(--primary-white);
}

.plan-card:hover svg path {
  stroke: var(--primary-white);
}

.card-tariff {
  font-weight: 400;
  font-size: 21px;
  line-height: 150%;
  margin-bottom: 12px;
}

.card-price {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: var(--card-price-color);
  margin-bottom: 12px;
}

.card-price strong {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 130%;
  letter-spacing: -0.02em;
  margin-right: 4px;
}

.card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 24px;
}

.card-block {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
}

.advantages {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 130px;
  margin-bottom: 33px;
}

/* button */
.btn {
  padding: 12px 24px;
  cursor: pointer;
  border: 1px solid transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  border-radius: 8px;
  outline: none;
  background: var(--btn-background-color);
  color: var(--primary-green);
  width: 100%;
}

.btn svg {
  vertical-align: middle;
  margin-left: 8px;
}

.btn:hover {
  background-color: var(--primary-white);
  border-color: var(--primary-green);
  color: var(--primary-green);
}

.plan-card:hover .btn {
  background-color: var(--primary-white);
  border-color: var(--primary-green);
  color: var(--primary-green);
}

.plan-card:hover .btn svg path {
  stroke: var(--primary-green);
}

/* skeleton */
.skeleton {
  position: relative;
}

.skeleton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #eee, #f9f9f9, #eee);
  background-size: 200%;
  animation: skeleton 2s infinite reverse;
  z-index: 1;
}

@keyframes skeleton {
  0% {
    background-position: -100% 0;
  }

  100% {
    background-position: 100% 0;
  }
}
